
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi Team,
    Looks like we have got some feedback. <%= @subject%>.
    <p>Feedback: <%= @message%><p>
    <p>From: <%= @full_name%><p>
    <p>contact: <%= @contact%><p>
    <p>email: <%= @email%><p>
  </body>
</html>